footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 320px;
  color: white;
  font-family: Helvetica;  
  background: #5666E7;
  padding: 20px 15%;
}

.copiright {
  display: block;
  margin-bottom: 15px; 
}

.contacts li {
  margin-bottom: 10px;
}

